@model Etap12.Insurance

@{
    ViewData["Title"] = "Редагувати страхування";
}

<h1>Редагувати страхування</h1>

<h4>Страхування</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InsuranceId" />
            <input type="hidden" asp-for="PatientId" />
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsuranceCases" class="control-label"></label>
                <input asp-for="InsuranceCases" class="form-control" />
                <span asp-validation-for="InsuranceCases" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Insurances" asp-action="IndexGlobal">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
