@model Etap12.Patient

@{
    ViewData["Title"] = "Додати пацієнта";
    ViewData["NoIndex"] = true;
}

<h1>Додавання пацієнта до лікаря @ViewBag.DoctorName</h1>

<h4>Пацієнт</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PatientName" class="control-label"></label>
                <input asp-for="PatientName" class="form-control" />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeAdress" class="control-label"></label>
                <input asp-for="HomeAdress" class="form-control" />
                <span asp-validation-for="HomeAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientPhoneNumber" class="control-label"></label>
                <input asp-for="PatientPhoneNumber" class="form-control" />
                <span asp-validation-for="PatientPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Passport" class="control-label"></label>
                <input asp-for="Passport" class="form-control" />
                <span asp-validation-for="Passport" class="text-danger"></span>
            </div>
            <input type="hidden" value="@ViewBag.DoctorId" name="DoctorId">
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Patients" asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
