@model Etap12.Doctor

@{
    ViewData["Title"] = "Додати лікаря";
}

<h1>Додавання лікаря до лікарні @ViewBag.HospitalName</h1>

<h4>Лікар</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DoctorName" class="control-label"></label>
                <input asp-for="DoctorName" class="form-control" />
                <span asp-validation-for="DoctorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Education" class="control-label"></label>
                <input asp-for="Education" class="form-control" />
                <span asp-validation-for="Education" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateStartWork" class="control-label"></label>
                <input asp-for="DateStartWork" class="form-control" />
                <span asp-validation-for="DateStartWork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorPhoneNumber" class="control-label"></label>
                <input asp-for="DoctorPhoneNumber" class="form-control" />
                <span asp-validation-for="DoctorPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorPhoto" class="control-label"></label>
                <input asp-for="DoctorPhoto" class="form-control" />
                <span asp-validation-for="DoctorPhoto" class="text-danger"></span>
            </div>
            <input type="hidden" value="@ViewBag.HospitalId" name="HospitalId">
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Doctors" asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
